
/* iPhone portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) 
{

#inputText
{
position: relative;
}


#searchDistanceRange
{
position: relative;
}

div.myPlacemarkStyle
{
width:700px;
height:100px;
left:0px;
top:0px;
position: absolute;

font-family:sans-serif;
font-size:22px;
vertical-align:bottom;
text-align:left;
color:rgba(0, 0, 0, 1.0);
margin:25px;
padding:25px;

background-color:rgba(255, 255, 255, 1.0);
border-radius: 40px;
-webkit-tap-highlight-color: rgba(0,0,0,0);

opacity:0;
-webkit-transition-property: opacity, background-color; 
-webkit-transition-duration:0.5s;
}

}
